h2 {
	margin-top: 5px; 
}
a {
	color: #f18f01;
}
#wrapper {
    padding-left: 0;    
}

#page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #fff;
    margin-top: 40px;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 300px;
    }

    #page-wrapper {
        padding: 22px 10px;
    }
}

/* Side Navigation */

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 0px;
        left: 300px;
        width: 300px;
        margin-left: -300px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #dddddd;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 0px;
        padding-top: 55px;
    }

    .side-nav>li ul li label {
        width: 300px;
        border-bottom: 1px rgba(0,0,0,.3) solid;
    }

    .side-nav li ul li label.actived,
    .side-nav li ul li label:focus {
        outline: none;
        border-left-color: #f18f01 !important;
    }

    .side-nav li ul li label:hover {
        border-left-color: #f5d9b1;
    }
}
input.search {
    width: 100%;
    padding: 3px 4px;
}
.side-nav button {
    background: #f18f01;
    border: 2px solid #333;
    display: inline-block;
    width: 93%;
    margin: 2px 10px;
    padding: 7px 8px;
}
.side-nav>li ul {
    padding: 0;
}

.side-nav, .side-nav a {
	color: #444444;
}
.side-nav a {
    background-color: #cccaca!important;
}
.side-nav li {
	float: none;
}
.navbar-header {
	position: absolute;
	display: block;
	background: #dddddd;
	left: 300px;
	right:0;
	color: #444;
	padding: 4px;
}

.navbar-header a {
	color: #FFF;
}

.side-nav li h2, .side-nav li h3, .side-nav li h4, .side-nav li div {
	padding: 3px 4px 3px 18px;
	margin: 0;
}

.side-nav>li>ul>li label {
    display: block;
    padding: 3px 0px 3px 5px;
    text-decoration: none;
    color: #444444;
    margin: 0;
    cursor: pointer;
    word-wrap: break-word;
    border-left: 12px solid transparent;
}
.side-nav>li>ul>li label>input {
	margin-right: 3px;
}

.navbar .nav > li  a:hover > .label {
  top: 10px;
}


.filters {
	margin-bottom: 5px;
}
.filters .filter, .category {
	background: #f18f01;
	color: #f5f5f5;
	cursor: pointer;
	padding: 5px;
	margin-right: 4px;
}
.category.active {
    background: #0d1c2d;
}
.modal-dialog{
	width:80%;
}
.modal-content {
	border-radius: 0;
	border: 0;
}

.table {
	margin-bottom: 0px;
}
table {
	border: 0;
}

table tr {
	cursor: pointer;
}

table tr:hover {
	background: #DDD!important;
}